@font-face {
    font-family: "Lobster";
    src: url("../fonts/Lobster-Regular.ttf");
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
body {
    background: radial-gradient(#111628, #0b0f1d);
    font-family: 'Roboto Mono', Arial, sans-serif;
}
body::before {
    content: "";
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(24, 56, 24, 0.57), rgba(40, 109, 40, 0.68));
    opacity: 0;
    transition: 150ms ease;
    z-index: -1;
    will-change: opacity;
}
body.success::before {
    animation: success 2.5s;
}
body::after {
    content: "";
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(244, 67, 54, 0.8), rgba(206, 55, 44, 0.48));
    opacity: 0;
    transition: 500ms ease;
    z-index: -1;
    will-change: opacity;
}
body.gameover::after {
    opacity: 1;
}

#wrapper {
    overflow: hidden;
    height: 100vh;
    color: #fff;
}

input,
select {
    font-size: 2.5vw;
}

button {
    height: 4vw;
    border-radius: 2vw;
    padding: 0 2vw;
    font-size: 2.5vw;
    background-color: gold;
}

button:active {
    padding: 0 2.5vw;
}

#connected-state {
    float: right;
}

#screens {
    width: 300%; /* 100*# of sections */
    height: 80%;
    font-size: 2vw;
    /* border: solid #f99 2px; */
    display: flex;
    align-items: center;
    transition: 500ms ease;
    will-change: transform;
}

p {
    font-size: 1.5vw;
    line-height: 2vw;
    margin: 3vw auto;
}

label {
    padding: 1vw;
}

nav {
    position: absolute;
    top: 0;
    height: 20%;
    width: 100%;
    line-height: 5vw;;
}

nav ul {
    font-size: 3vw;
}

nav ul li {
    list-style: none;
    float: left;
    border: solid 1px #fff;
}

nav a {
    display: inline-block;
    padding: 0 1vw;
    width: 100%;
    height: 100%;
}

nav select {
    padding: .5vw;
}

h1 {
    font-family: Lobster, script;
    font-size: 5vw;;
    font-style: italic;
    text-align: center;
    color: gold;
}

section {
    flex: 1 1 100%;
    height: 100%;
    /* border: solid #fff 2px; */
    text-align: center;
    padding: 2em;
    overflow-y: auto;
}

* {
    user-select: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
}

.action-values {
    margin-bottom: 2vw;
}

.action-values label {
    display: none;
}

.action-values label.active {
    display: inline-block;
}

.grid {
    text-align: center;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 10%);
    grid-auto-rows: 1fr;
}

.grid::before {
    content: '';
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}

.grid > *:first-child {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}

/* Just to make the grid visible */

.grid > * {
    background: rgba(0,0,0,0.1);
    border: 1px white solid;
    line-height: 4em;
}

.grid a {
    display: inline-block;
    width: 100%;
    height: 100%;
    font-weight: bold;
}

nav ul a:link,
nav ul a:hover,
nav ul a:active,
nav ul a:focus,
nav ul a:visited,
.grid a:link,
.grid a:hover,
.grid a:active,
.grid a:focus,
.grid a:visited {
    color: #fff;
    text-decoration: none;
}

@keyframes success {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    30% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes shake {
    0% {
        transform: translateX(0px);
    }
    25% {
        transform: translateX(-5px);
    }
    75% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(0px);
    }
}

.led-box {
  padding-top: 1vw;
  height: 30px;
  width: 25%;
  margin: 10px 0;
  float: left;
}

.led-red {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: #F00;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
  -webkit-animation: blinkRed 0.5s infinite;
  -moz-animation: blinkRed 0.5s infinite;
  -ms-animation: blinkRed 0.5s infinite;
  -o-animation: blinkRed 0.5s infinite;
  animation: blinkRed 0.5s infinite;
}

@-webkit-keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
}
@-moz-keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
}
@-ms-keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
}
@-o-keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
}
@keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
}

.led-green {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: #ABFF00;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
}
